@import "./sass/normalize";
@import "./sass/font";
@import "./sass/variables";
@import "./sass/mixins";


body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}
/* --------------------------Loader spinner-------------------------- */


@include loader-spinner;      


/* --------------------------Header-------------------------- */ 

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 3px lightgrey;
    img {
        width: 180px;
        margin: 18px 0 12px 0;
    }
}

.localisation {
    display: flex;
    justify-content: center;
    position: static;
    background-color: rgb(231, 231, 231);

    i {
        font-size: 19px;
        margin-top: 18px;
        position: relative;
        right: 15px;
    }

    p {
        font-size: 17px;
    }
}

.explorer {
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 30px 30px 60px 30px;
    h1 {
        padding: 0 10px;
    }

    p {
        font-weight: 300;
    }

}

.explorer__nav {
    background: linear-gradient( $secondary-color, $primary-color);
    margin: auto;
    margin-top: 30px;
    width: 300px;
    border-radius: 25px;
    height: 50px;
    color: white;
    box-shadow: 3px 3px 10px rgb(141, 141, 141);
    transition: all 500ms;
    p {
        padding-top: 15px;
        font-weight: normal;
    }

    &:hover{
        transform: scale(1.03);
        background: linear-gradient(#ff8fdf, #9c67dd);
        box-shadow: 7px 7px 10px rgb(141, 141, 141);
    }
}

/* --------------------------List-------------------------- */ 

.list {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;

    h1 {
        margin-top: 40px;
    }
    
}

.list__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $grey;
    border-radius: 15px;
    margin: 30px 0 20px 10px;
    height: 70px;
    box-shadow: 3px 3px 10px rgb(209, 209, 209);

    span {
        position: absolute;
        left: -10px;
        top: 22px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        background-color: $primary-color;
        color: white;
        text-align: center;
        padding-top: 5px;
        font-size: 14px;
    }

    i {
        color: grey;
        position: relative;
        right: 30px;
        font-size: 20px;
    }

    p {
        font-weight: 500;
        color: black;
    }

    &:hover {
        background-color: rgba($primary-color, .15);

        i{
            color: $primary-color;
        }
    }

}


/* --------------------------Main--------------------------  */ 

main {
    background-color: $grey;
    padding-top: 40px;
    padding-bottom: 60px;

    h1 {
        margin-left: 5%;
    }
}

.main__card {
    position: relative;
    margin: auto;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgb(209, 209, 209);
    img {
        width: 100%;
        height: 180px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    .topright_new {
        position: absolute;
        top: 15px;
        right: 10px;
        background-color: rgb(125, 230, 195);
        border-radius: 3px;

        p {
            margin: 0;
            padding: 6px 12px;
            font-size: 14px;
            color: rgb(40, 73, 63);
        }
    }

}


.main__card_body {

    h2 {
        font-size: 18px;
        padding-left: 12px;
        line-height: 1;
        font-weight: 500;
    }

    p {
        font-weight: 300;
        padding-left: 12px;
        padding-bottom: 23px;
        line-height: 0;
    }
}

.box {
    position: relative;
}

.main__card_i {
    position: absolute;
    right: 55px;
    bottom: 20px;
    font-size: 25px;
    background: transparent;
    z-index: 1;
    }

    .fa-regular {
        position: relative;
    }



    .hidden {
        position: absolute;
        text-align: center;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0;
        opacity: 0;
        
        &:hover{
            @include heart-animation;
            opacity: 1;
            background: linear-gradient(360deg, $primary-color, $secondary-color);
            color: transparent;
            background-clip: text;
            animation-name: heart;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            transition-timing-function: linear;
        }

    }


/* --------------------------Footer-------------------------- */ 

footer {
    background-color: rgb(51, 51, 51);
    padding: 20px;

    img {
        filter: invert(1);
        width: 100px;
        margin: 5px 0 20px 0;
    }
}

.foot__body {
    display: flex;
    color: white;

    p {
        margin: 0 0 10px 0;
        font-size: 15px;
    }

    i {
        margin-right: 14px;
    }

    i:nth-child(1) {
        width: 20px;
    }
    
    &:hover {
        color: rgb(194, 194, 194);
    }
}



/* Tablettes */ 


@media screen and (min-width: 640px) {
    

    .all__box {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
        min-height: 250px;
    }
    
    .main__card_i {
        bottom: 40px;
    }

}

@media screen and (min-width: 1280px) {

    .all__box {
        flex-wrap: nowrap;
    }
}
    
