@import "../sass/normalize";
@import "../sass/font";
@import "../sass/variables";
@import "../sass/mixins";



body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */ 

.header__logo {
    @include header__logo
}

.header__image {
    @include header__image
}

main {
    @include main
}

.main__header {
    @include main__header
}

.title{
    @include title
}

.card {
    @include card
}

.order {
    @include order
}

footer {
    @include footer
}